@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c1c1c1 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c1c1c1 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c1c1c1;
}
.btn-social:hover {
  background: #c1c1c1;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c1c1c1;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c1c1c1;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c1c1c1;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c1c1c1;
}
.lead a,
.lead a:hover {
  color: #c1c1c1;
}
.lead blockquote {
  border-color: #c1c1c1;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c1c1c1;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b .navbar-caption {
  color: #ffffff;
}
#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .close-icon::before,
#menu-b .close-icon::after {
  background-color: #ffffff;
}
#menu-b .link,
#menu-b .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-b .link {
  font-size: 0.75rem;
}
#menu-b .dropdown-item,
#menu-b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-b .link:hover,
#menu-b .dropdown-item:hover,
#menu-b .link:focus,
#menu-b .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-menu {
  background: #202123;
}
#menu-b .nav-dropdown-sm .link:focus,
#menu-b .nav-dropdown-sm .link:hover,
#menu-b .nav-dropdown-sm .dropdown-item:focus,
#menu-b .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-b .navbar,
#menu-b .nav-dropdown-sm,
#menu-b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b .bg-color.transparent.opened .link:hover,
#menu-b .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-b .link[aria-expanded="true"],
#menu-b .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-21 .mbr-section-title,
#header3-21 .mbr-section-subtitle {
  text-align: center;
}
#header3-21 H3 {
  color: #000000;
}
#gallery3-1s .mbr-gallery-item > div > span {
  text-align: center;
}
#header3-3r .mbr-section-title,
#header3-3r .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-k .navbar-caption {
  color: #ffffff;
}
#menu-k .navbar-toggler {
  color: #ffffff;
}
#menu-k .close-icon::before,
#menu-k .close-icon::after {
  background-color: #ffffff;
}
#menu-k .link,
#menu-k .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-k .link {
  font-size: 0.75rem;
}
#menu-k .dropdown-item,
#menu-k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-k .link:hover,
#menu-k .dropdown-item:hover,
#menu-k .link:focus,
#menu-k .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-menu {
  background: #202123;
}
#menu-k .nav-dropdown-sm .link:focus,
#menu-k .nav-dropdown-sm .link:hover,
#menu-k .nav-dropdown-sm .dropdown-item:focus,
#menu-k .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-k .navbar,
#menu-k .nav-dropdown-sm,
#menu-k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-k .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-k .bg-color.transparent.opened .link:hover,
#menu-k .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-k .link[aria-expanded="true"],
#menu-k .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-2e .mbr-section-title,
#header3-2e .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #202123;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-1v .mbr-section-title,
#header3-1v .mbr-section-subtitle {
  text-align: center;
}
#header3-1w .mbr-section-title,
#header3-1w .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-m .navbar-caption {
  color: #ffffff;
}
#menu-m .navbar-toggler {
  color: #ffffff;
}
#menu-m .close-icon::before,
#menu-m .close-icon::after {
  background-color: #ffffff;
}
#menu-m .link,
#menu-m .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-m .link {
  font-size: 0.75rem;
}
#menu-m .dropdown-item,
#menu-m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-m .link:hover,
#menu-m .dropdown-item:hover,
#menu-m .link:focus,
#menu-m .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-menu {
  background: #202123;
}
#menu-m .nav-dropdown-sm .link:focus,
#menu-m .nav-dropdown-sm .link:hover,
#menu-m .nav-dropdown-sm .dropdown-item:focus,
#menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-m .navbar,
#menu-m .nav-dropdown-sm,
#menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-m .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-m .bg-color.transparent.opened .link:hover,
#menu-m .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-n .navbar-caption {
  color: #ffffff;
}
#menu-n .navbar-toggler {
  color: #ffffff;
}
#menu-n .close-icon::before,
#menu-n .close-icon::after {
  background-color: #ffffff;
}
#menu-n .link,
#menu-n .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-n .link {
  font-size: 0.75rem;
}
#menu-n .dropdown-item,
#menu-n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-n .link:hover,
#menu-n .dropdown-item:hover,
#menu-n .link:focus,
#menu-n .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-menu {
  background: #202123;
}
#menu-n .nav-dropdown-sm .link:focus,
#menu-n .nav-dropdown-sm .link:hover,
#menu-n .nav-dropdown-sm .dropdown-item:focus,
#menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-n .navbar,
#menu-n .nav-dropdown-sm,
#menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-n .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-n .bg-color.transparent.opened .link:hover,
#menu-n .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-o .navbar-caption {
  color: #ffffff;
}
#menu-o .navbar-toggler {
  color: #ffffff;
}
#menu-o .close-icon::before,
#menu-o .close-icon::after {
  background-color: #ffffff;
}
#menu-o .link,
#menu-o .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-o .link {
  font-size: 0.75rem;
}
#menu-o .dropdown-item,
#menu-o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-o .link:hover,
#menu-o .dropdown-item:hover,
#menu-o .link:focus,
#menu-o .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-menu {
  background: #202123;
}
#menu-o .nav-dropdown-sm .link:focus,
#menu-o .nav-dropdown-sm .link:hover,
#menu-o .nav-dropdown-sm .dropdown-item:focus,
#menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-o .navbar,
#menu-o .nav-dropdown-sm,
#menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-o .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-o .bg-color.transparent.opened .link:hover,
#menu-o .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-29 .mbr-section-title,
#header3-29 .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-p .navbar-caption {
  color: #ffffff;
}
#menu-p .navbar-toggler {
  color: #ffffff;
}
#menu-p .close-icon::before,
#menu-p .close-icon::after {
  background-color: #ffffff;
}
#menu-p .link,
#menu-p .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-p .link {
  font-size: 0.75rem;
}
#menu-p .dropdown-item,
#menu-p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-p .link:hover,
#menu-p .dropdown-item:hover,
#menu-p .link:focus,
#menu-p .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-menu {
  background: #202123;
}
#menu-p .nav-dropdown-sm .link:focus,
#menu-p .nav-dropdown-sm .link:hover,
#menu-p .nav-dropdown-sm .dropdown-item:focus,
#menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-p .navbar,
#menu-p .nav-dropdown-sm,
#menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-p .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-p .bg-color.transparent.opened .link:hover,
#menu-p .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-2a .mbr-section-title,
#header3-2a .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-q .link {
  font-size: 0.75rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #202123;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #ffffff;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-s .link {
  font-size: 0.75rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #202123;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-u .navbar-caption {
  color: #ffffff;
}
#menu-u .navbar-toggler {
  color: #ffffff;
}
#menu-u .close-icon::before,
#menu-u .close-icon::after {
  background-color: #ffffff;
}
#menu-u .link,
#menu-u .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-u .link {
  font-size: 0.75rem;
}
#menu-u .dropdown-item,
#menu-u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-u .link:hover,
#menu-u .dropdown-item:hover,
#menu-u .link:focus,
#menu-u .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-menu {
  background: #202123;
}
#menu-u .nav-dropdown-sm .link:focus,
#menu-u .nav-dropdown-sm .link:hover,
#menu-u .nav-dropdown-sm .dropdown-item:focus,
#menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-u .navbar,
#menu-u .nav-dropdown-sm,
#menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-u .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-u .bg-color.transparent.opened .link:hover,
#menu-u .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-u .link[aria-expanded="true"],
#menu-u .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-w .link {
  font-size: 0.75rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #202123;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
}
#menu-y .navbar-toggler {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #ffffff;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-y .link {
  font-size: 0.75rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #202123;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-12 .link {
  font-size: 0.75rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #202123;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-14 .navbar-caption {
  color: #ffffff;
}
#menu-14 .navbar-toggler {
  color: #ffffff;
}
#menu-14 .close-icon::before,
#menu-14 .close-icon::after {
  background-color: #ffffff;
}
#menu-14 .link,
#menu-14 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-14 .link {
  font-size: 0.75rem;
}
#menu-14 .dropdown-item,
#menu-14 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-14 .link:hover,
#menu-14 .dropdown-item:hover,
#menu-14 .link:focus,
#menu-14 .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-menu {
  background: #202123;
}
#menu-14 .nav-dropdown-sm .link:focus,
#menu-14 .nav-dropdown-sm .link:hover,
#menu-14 .nav-dropdown-sm .dropdown-item:focus,
#menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-14 .navbar,
#menu-14 .nav-dropdown-sm,
#menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-14 .bg-color.transparent.opened .link:hover,
#menu-14 .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-16 .link {
  font-size: 0.75rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #202123;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-18 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-18 .navbar-caption {
  color: #ffffff;
}
#menu-18 .navbar-toggler {
  color: #ffffff;
}
#menu-18 .close-icon::before,
#menu-18 .close-icon::after {
  background-color: #ffffff;
}
#menu-18 .link,
#menu-18 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-18 .link {
  font-size: 0.75rem;
}
#menu-18 .dropdown-item,
#menu-18 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-18 .link:hover,
#menu-18 .dropdown-item:hover,
#menu-18 .link:focus,
#menu-18 .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-menu {
  background: #202123;
}
#menu-18 .nav-dropdown-sm .link:focus,
#menu-18 .nav-dropdown-sm .link:hover,
#menu-18 .nav-dropdown-sm .dropdown-item:focus,
#menu-18 .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-18 .navbar,
#menu-18 .nav-dropdown-sm,
#menu-18 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-18 .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-18 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-18 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-18 .bg-color.transparent.opened .link:hover,
#menu-18 .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-18 .link[aria-expanded="true"],
#menu-18 .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-1a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1a .navbar-caption {
  color: #ffffff;
}
#menu-1a .navbar-toggler {
  color: #ffffff;
}
#menu-1a .close-icon::before,
#menu-1a .close-icon::after {
  background-color: #ffffff;
}
#menu-1a .link,
#menu-1a .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1a .link {
  font-size: 0.75rem;
}
#menu-1a .dropdown-item,
#menu-1a .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1a .link:hover,
#menu-1a .dropdown-item:hover,
#menu-1a .link:focus,
#menu-1a .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-1a .link[aria-expanded="true"],
#menu-1a .dropdown-menu {
  background: #202123;
}
#menu-1a .nav-dropdown-sm .link:focus,
#menu-1a .nav-dropdown-sm .link:hover,
#menu-1a .nav-dropdown-sm .dropdown-item:focus,
#menu-1a .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-1a .navbar,
#menu-1a .nav-dropdown-sm,
#menu-1a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1a .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-1a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1a .bg-color.transparent.opened .link:hover,
#menu-1a .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-1a .link[aria-expanded="true"],
#menu-1a .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-1f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1f .navbar-caption {
  color: #ffffff;
}
#menu-1f .navbar-toggler {
  color: #ffffff;
}
#menu-1f .close-icon::before,
#menu-1f .close-icon::after {
  background-color: #ffffff;
}
#menu-1f .link,
#menu-1f .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1f .link {
  font-size: 0.75rem;
}
#menu-1f .dropdown-item,
#menu-1f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1f .link:hover,
#menu-1f .dropdown-item:hover,
#menu-1f .link:focus,
#menu-1f .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-menu {
  background: #202123;
}
#menu-1f .nav-dropdown-sm .link:focus,
#menu-1f .nav-dropdown-sm .link:hover,
#menu-1f .nav-dropdown-sm .dropdown-item:focus,
#menu-1f .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-1f .navbar,
#menu-1f .nav-dropdown-sm,
#menu-1f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1f .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-1f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1f .bg-color.transparent.opened .link:hover,
#menu-1f .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-1f .link[aria-expanded="true"],
#menu-1f .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1 .link {
  font-size: 0.75rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #202123;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header3-2j .mbr-section-title,
#header3-2j .mbr-section-subtitle {
  text-align: center;
}
#header3-2i .mbr-section-title,
#header3-2i .mbr-section-subtitle {
  text-align: center;
}
#header3-2h .mbr-section-title,
#header3-2h .mbr-section-subtitle {
  text-align: center;
}
#msg-box6-6 .mbr-section-title,
#msg-box6-6 .lead p {
  color: #fff;
}
#msg-box6-6 H3 {
  text-align: right;
}
#msg-box6-6 P {
  text-align: left;
}
#features6-1o P {
  text-align: left;
}
#header3-1k .mbr-section-title,
#header3-1k .mbr-section-subtitle {
  text-align: center;
}
#header3-1k SMALL {
  color: #000000;
}
#header3-1k H3 {
  color: #000000;
  font-size: 30px;
  text-align: right;
}
#header3-1k I {
  color: #000000;
}
#header3-2x .mbr-section-title,
#header3-2x .mbr-section-subtitle {
  text-align: center;
}
#features4-1p .card-subtitle {
  color: #bcbcbc;
}
#features4-1p .iconbox {
  background-color: #efefef;
  border-color: #efefef;
}
#features4-1p P {
  text-align: left;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#contacts3-2d SPAN {
  color: #ffffff;
}

#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
}
#menu-2k .navbar-toggler {
  color: #ffffff;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #ffffff;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2k .link {
  font-size: 0.75rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #202123;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
#header1-2m .mbr-section-title {
  text-align: center;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#header3-2v .mbr-section-title,
#header3-2v .mbr-section-subtitle {
  text-align: center;
}
#features6-2q P {
  text-align: left;
}
#header5-3s .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
#header5-3s .mbr-section-lead {
  color: #9c9a9a;
}
#header3-2u .mbr-section-title,
#header3-2u .mbr-section-subtitle {
  text-align: center;
}
#header3-2u H3 {
  color: #ffffff;
}
#gallery2-2p .mbr-gallery-item > div > span {
  text-align: center;
}
#social-buttons4-30 .mbr-section-title,
#social-buttons4-30 .btn-social {
  color: #fff;
}
#contacts3-2l SPAN {
  color: #ffffff;
}

#menu-3n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3n .navbar-caption {
  color: #ffffff;
}
#menu-3n .navbar-toggler {
  color: #ffffff;
}
#menu-3n .close-icon::before,
#menu-3n .close-icon::after {
  background-color: #ffffff;
}
#menu-3n .link,
#menu-3n .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-3n .link {
  font-size: 0.75rem;
}
#menu-3n .dropdown-item,
#menu-3n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3n .link:hover,
#menu-3n .dropdown-item:hover,
#menu-3n .link:focus,
#menu-3n .dropdown-item:focus {
  color: #c1c1c1;
}
#menu-3n .link[aria-expanded="true"],
#menu-3n .dropdown-menu {
  background: #202123;
}
#menu-3n .nav-dropdown-sm .link:focus,
#menu-3n .nav-dropdown-sm .link:hover,
#menu-3n .nav-dropdown-sm .dropdown-item:focus,
#menu-3n .nav-dropdown-sm .dropdown-item:hover {
  background: #323235!important;
}
#menu-3n .navbar,
#menu-3n .nav-dropdown-sm,
#menu-3n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3n .nav-dropdown-sm .dropdown-menu {
  background: #393a3d;
}
#menu-3n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3n .bg-color.transparent.opened .link:hover,
#menu-3n .bg-color.transparent.opened .link:focus {
  color: #c1c1c1;
}
#menu-3n .link[aria-expanded="true"],
#menu-3n .dropdown-item[aria-expanded="true"] {
  color: #c1c1c1!important;
}
